<script>
  
  $('.button-collapse').sideNav({
      menuWidth: 245, // Default is 300
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,
      onOpen: function(el) { }, // A function to be called when sideNav is opened
      onClose: function(el) { }, // A function to be called when sideNav is closed
    }
  );
        
</script>
<ul id="slide-out" class="side-nav fixed" [ngStyle]="{'background-color': '#01579b'} ">
    <li>
        <div class="user-view center">
       <!--  <div class="background">
          <img src="./assets/images/buscarepuestos.png">
        </div> -->
        <a class="center"><img src="../../assets/images/LogoBuscaRepuestos2.png" width="180px" class="center"></a>
      </div>
    </li>

    <li>
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/home']" ><i class="material-icons white-text padLeft">person_identity</i><span class="light">{{usuario}}</span></a>
    </li>

    <li><div class="divider"></div></li>

    <li class="no-padding" [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/home']"><i class="material-icons white-text padLeft">home</i><span class="light">Inicio</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/empresas']"><i class="material-icons white-text padLeft" >store</i><span class="light">Empresas</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/comisiones']"><i class="material-icons white-text padLeft">attach_money</i><span class="light">Comisiones</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/solicitudes']"><i class="material-icons white-text padLeft">class</i><span class="light">Solicitudes<span *ngIf="number2>0" class="new badge green">{{number2}}</span></span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra"><i class="material-icons white-text padLeft">ev_station</i><span class="light">Categorías de repuestos</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra"><i class="material-icons white-text padLeft">folder</i><span class="light">Papelera de reciclaje</span></a>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li [routerLinkActive]="['active']">
            <a class="collapsible-header white-text padLeftBarra" ><i class="material-icons white-text padLeft" >build</i><span class="light">Configuración</span></a>
            <div class="collapsible-body" style="background-color: #01579b">
              <ul>
                <li ><a [routerLink]="['/apariencia']" class="white-text" style="padding-left: 80px"><span class="light">Apariencia</span></a></li>
                <li ><a [routerLink]="['/color']" class="white-text" style="padding-left: 80px" ><span class="light">Color</span></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

    <li><div class="divider"></div></li>

    <li>
      <a (click)="logOut()" class="white-text waves-effect padLeftBarra"><i class="material-icons white-text padLeft">close</i><span class="light">Salir</span></a>
    </li>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons ">menu</i></a>

<style>
/*Para elemento de la lista activado */
  .side-nav li.active {
    background-color: #01416d !important;
    border-left: 4px solid green !important; 
  }

/*Cuando pasamos el cursor */
  .side-nav li > a:hover {
    background-color: #0277bd !important;
  }

.padLeft{
  padding-left: 15px !important;
}

.padLeftBarra{
  padding-left: 0px !important;
}

</style>


