<barraNavegacion></barraNavegacion>

<main>
<div class="container">
	<h5 class="blue-text">Formulario para agregar <span class="red-text">Comisión</span></h5>
	<div class="card-panel">
		<br>
		<br>
			<form #formComision="ngForm" (ngSubmit)="onSubmit()">
				
				<div class="row center">

					<div class="input-field col m6 s6">
		          		<input placeholder=""#comi="ngModel" [(ngModel)]="comision.nombre" name="comision" type="text" class="validate" required>
		          		<label class="active">Nombre:<span class="obl">*</span></label>
		           		<span *ngIf="!comi.valid && comi.touched" class="red-text thin"> El nombre es obligatorio</span>
		        	</div>	

		        	<div class="input-field col m6 s6">
		          		<input placeholder="" #descr="ngModel" [(ngModel)]="comision.descripcion" name="descripcion" type="text" class="validate" required>
		          		<label class="active">Descripción:<span class="obl">*</span></label>
		           		<span *ngIf="!descr.valid && descr.touched" class="red-text thin"> La descripción es obligatoria</span>
		        	</div>

		        	<div class="input-field col m2 s6">
		          		<input placeholder="" #monto="ngModel" [(ngModel)]="comision.monto" name="monto" type="text" class="validate" pattern="^(\d|-)?(\d|,)*\.?\d*$"required>
		          		<label class="active">Monto: ($)<span class="obl">*</span></label>
		           		<span *ngIf="!monto.valid && monto.touched" class="red-text thin"> El monto es obligatorio</span>
		        	</div>	
				</div>
				<div class="row">
					<div class="container">
						<div class="col s3 m3 push-m7">
							<a [routerLink]="['/comisiones']" class="btn waves-effect waves-light red right" type="submit" name="action"> Cancelar</a>
						</div>
						<div class="col s3 m3 push-m6">
							<button class="btn waves-effect waves-light green right" type="submit" name="action" [disabled]="!formComision.form.valid">Aceptar</button>
						</div>
					</div>
				</div>
			</form>
			<br>
	</div>
		
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
</div>
	
</main>

<style>
	 
	.obl{
		color: red;
		font-size: 22px;
	}
	 header, main, footer {
	     padding-left: 250px;
	}

	@media only screen and (max-width : 992px) {
	    header, main, footer {
	        padding-left: 0;
	    }
	 }  

	.container {
	    margin: 0 auto;
	    max-width: 1280px;
	    width: 90%;
	}

	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main {
	  flex: 1 0 auto;
	}
</style>
