
<barraNavegacion></barraNavegacion>
<main>

	<div class="container">
	<a class="waves-effect waves-light btn blue" [routerLink]="['/comision-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<h5 class="blue-text" >Comisiones</h5>
			<div *ngIf="!listaComisiones">
			<h3 class="blue-text center">Cargando...</h3>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress light-blue">
				      <div class="indeterminate light-blue darken-2"></div>
				  </div>
		    	</div>
		    </div>
		</div>
	</div>

<div class="container">
	<div class="card-panel" *ngIf="listaComisiones">
		<table class="highlight">
			<thead >
				<th>ID</th>
				<th>Paquete</th>
				<th>Descripción</th>
				<th>Monto</th>
				<th class="center">Opciones</th>
			</thead>
			<div class="row">
				<p class ="center" *ngIf="listaComisiones.length==0">No hay planes ativos</p>
			</div>
			<tbody *ngFor= "let x of listaComisiones" >
				<td>{{x.id}}</td>
				<td>{{x.nombre}}</td>
				<td>{{x.descripcion}}</td>
				<td>$ {{x.monto}}</td>
				<td class ="center">
					<a [routerLink]="['comision-edit', x.id]"class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text left">create</i>Editar</a>
					<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text left">close</i>Deshabilitar</a>
				</td>
			</tbody>
		</table>
		</div>
	</div>

	<div class="container"><br>
	<h5 class="blue-text" >Comisiones <span class="red-text">deshabilitadas</span></h5>
	<div class="card-panel" *ngIf="listaComisionesDesactivadas">
		<table class="highlight">
			<thead>
				<th>ID</th>
				<th>Paquete</th>
				<th>Descripción</th>
				<th>Monto</th>
				<th class="center">Opciones</th>
			</thead>
			<div class="row">
				<p class ="center" *ngIf="listaComisionesDesactivadas.length==0">No hay comisiones desactivadas</p>
			</div>
			<tbody *ngFor= "let x of listaComisionesDesactivadas" >
				<td>{{x.id}}</td>
				<td>{{x.nombre}}</td>
				<td>{{x.descripcion}}</td>
				<td>$ {{x.monto}}</td>
				<td class ="center">
					<a (click)="habilitar(x)" class="waves-effect waves-light btn green lighten-2 myButton"><i class="material-icons white-text left">check</i>Habilitar</a>
				</td>
			</tbody>
		</table>
		</div>
	</div>
</main>

<style>
	  header, main, footer {
	     padding-left: 250px;
	}

	@media only screen and (max-width : 992px) {
	    header, main, footer {
	        padding-left: 0;
	    }
	 }  

	.container {
	    margin: 0 auto;
	    max-width: 1280px;
	    width: 90%;
	}

	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main {
	  flex: 1 0 auto;
	}
</style>

<style>
	.myButton{
		font-size: 14px;
		padding-left: 13px;
		padding-right: 13px;
	}
</style>