<barraNavegacion></barraNavegacion>
<main>
	<div class="container">
	<a class="waves-effect waves-light btn blue" [routerLink]="['/empresa-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<h5 class="blue-text" >Proveedores</h5>
			<div *ngIf="!listaEmpresas">
			<h3 class="blue-text center">Cargando...</h3>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress light-blue">
				      <div class="indeterminate light-blue darken-2"></div>
				  </div>
		    	</div>
		    </div>
		</div>
	</div>

	<div class="container">
		<div class="card-panel" *ngIf="listaEmpresas">
	      <table class="highlight">
	        <thead>
	          <tr>
	              <th>ID</th>
	              <th>Nombre</th>
	              <th >Dirección</th>
	              <th>Plan</th>
	              <th class=center>Opciones</th>
	              <!-- <th></th> -->
	          </tr>
	        </thead>
	        <tbody *ngFor= "let x of listaEmpresas" >
	          <tr>
	            <td>{{x.id}}</td>
	            <td width="15%">{{x.nombre}}</td>
	            <td width="25%">{{x.direccion}}</td>
	            <td width="15%" > {{x.comision.nombre}} 
	            	<div class="tooltip">
	            		<i class="material-icons orange-text right"*ngIf="x.comision.estado==false">report_problem</i>
	            		<span class="tooltiptext">El Plan se encuentra desactivado <br><a [routerLink]="['../comisiones']">Ver más</a></span>
	            	</div>
	            </td>
	            <td class ="center">
					<a  [routerLink]="['empresa-edit', x.id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text left">create</i>Editar</a>
					<a (click)="eliminarEmpresa(x.id, x.nombre)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text left">delete</i>Eliminar</a>
				</td>
	          </tr>
	        </tbody>
	      </table>
		</div>
	</div>
</main>

<style>
	  header, main, footer {
	     padding-left: 250px;
	}

	@media only screen and (max-width : 992px) {
	    header, main, footer {
	        padding-left: 0;
	    }
	 }  

	.container {
	    margin: 0 auto;
	    max-width: 1280px;
	    width: 90%;
	}

	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main {
	  flex: 1 0 auto;
	}
</style>

<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>

<style>
	.myButton{
		font-size: 14px;
		padding-left: 14px;
		padding-right: 14px;
	}
</style>

