
<barraNavegacion></barraNavegacion>
<main>	
	
	<div class="container">
		<h5 class="blue-text">Formulario para agregar <span class="red-text">Repuestos</span></h5>
	<div class="card-panel">
		<h5>Datos de la empresa.</h5>
		<form #formEmpresa="ngForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="input-field col m8 s6">
		          	<input placeholder=""#nom="ngModel" [(ngModel)]="empresa.nombre" name="nombre" type="text" class="validate" required>
		          	<label>Nombre de la empresa:<span class="obl">*</span></label>
		          		<span *ngIf="!nom.valid && nom.touched" class="red-text thin"> Nombre inválido</span>
		       	</div>	

		       	<div class="input-field col m4 s6">
		       		<input placeholder="" #nit="ngModel" [(ngModel)]="empresa.nit" name="nit" type="text" class="validate" required>
		       		<label>NIT:<span class="obl">*</span></label>
	          		<span *ngIf="!nit.valid && nit.touched" class="red-text thin">NIT inválido</span>
	        	</div>	

				<div class="input-field col m6 s12">
		       		<input placeholder="" #dir="ngModel" [(ngModel)]="empresa.direccion" name="direccion" type="text" class="validate" required>
		        	<label>Dirección:<span class="obl">*</span></label>
		           		<span *ngIf="!dir.valid && dir.touched" class="red-text thin"> La dirección es obligatoria</span>
		        </div>	

				<div class="col s12 m3">
					<div placeholder="" input-field #dep="ngModel" [(ngModel)]="departamento.depCodigo" name="depa" ngDefaultControl>
					    <label>Departamento:</label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{departamento.depNombre}}</option>	
					        <option *ngFor="let x of listaDepartamentos" value="{{x.depCodigo}}" (click)="getMunicipios(x.depCodigo)">{{x.depNombre}}</option>
					    </select>
					</div>
				</div>

				<div class="col s12 m3">
					<div input-field #mun="ngModel" [(ngModel)]="municipio.munCodigo" name="muni" ngDefaultControl>
					    <label>Municipio:</label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{municipio.munNombre}}</option>
					        <option *ngFor="let x of listaMunicipios" value="{{x.munCodigo}}">{{x.munNombre}}</option>
					    </select>
					</div>
				</div>
			</div> 
			<div class="row">
				<div class="col s12 m3">
					<div input-field #com="ngModel" [(ngModel)]="comision.id" name="comision" ngDefaultControl>
					    <label>Comisión:</label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{comision.nombre}}</option>	
					        <option *ngFor="let x of listaComisiones" value="{{x.id}}">{{x.nombre}}</option>
					    </select>
					</div>
				</div>
			</div>
			
			<div class="divider"></div>
		<h5>Datos del representante.</h5>
			<div class="row">
				<div class="input-field col m7 s6">
		          	<input  placeholder="" #repre="ngModel" [(ngModel)]="representante.nombre" name="representante" type="text" class="validate" required>
		          	<label>Nombre del representante:<span class="obl">*</span></label>
		          		<span *ngIf="!repre.valid && repre.touched" class="red-text thin"> Nombre inválido</span>
		       	</div>	
		       	<div class="input-field col m5 s6">
		          	<input placeholder="" #cargo="ngModel" [(ngModel)]="representante.cargo" name="cargo"type="text" class="validate" required>
		          	<label>Cargo:<span class="obl">*</span></label>
		          		<span *ngIf="!cargo.valid && cargo.touched" class="red-text thin"> El cargo es obligatorio</span>
		       	</div>	
		       	<div class="input-field col m3 s6">
		          	<input  placeholder="" #correo="ngModel" [(ngModel)]="representante.correo" name="correo" type="email" class="validate" required>
		          	<label data-error="Correo no válido">Correo:<span class="obl">*</span></label>
		          		<span *ngIf="!correo.valid && correo.touched" class="red-text thin"> El correo es obligatorio</span>
		       	</div>
		       	<div class="input-field col m3 s6">
		          	<input placeholder=""  #tel="ngModel" [(ngModel)]="representante.telefono" name="telefono" type="text" class="validate" required>
		          	<label>Teléfono:<span class="obl">*</span></label>
		          		<span *ngIf="!tel.valid && tel.touched" class="red-text thin"> El teléfono es obligatorio</span>
		       	</div>	
			</div>
			<div class="divider"></div>
			<h5>Inventario</h5>
			<div class="row">
				<div class="input-field col m4 s6">
		          	<input #inve="ngModel" [(ngModel)]="inventario.nombre" name="inve" type="text" class="validate" required>
		          	<label>Nombre del Inventario:<span class="obl">*</span></label>
		          		<span *ngIf="!inve.valid && inve.touched" class="red-text thin"> Nombre inválido</span>
		       	</div>	
			</div>
			<div class="divider"></div>
			<h5>Credenciales</h5>
			<div class="row">
				<div class="input-field col m4 s6">
		          	<input placeholder=""#usr="ngModel" [(ngModel)]="user.username" name="username" type="text" class="validate" required>
		          	<label>Nombre de usuario:<span class="obl">*</span></label>
		          		<span *ngIf="!usr.valid && usr.touched" class="red-text thin"> Nombre de usuario inválido</span>
		       	</div>	
		       	<div class="input-field col m4 s6">
		          	<input  [(ngModel)]="user.password" name="password" type="password" class="validate" required>
		          	<label>Contraseña:</label>
		        </div>
		        <div class="input-field col m4 s6">
		          	<input  [(ngModel)]="passAux" name="passwordAux" type="password" class="validate" required>
		          	<label>Contraseña:</label>
		        </div>
		        <span *ngIf="passAux!=user.password">Las contraseñas no coinciden</span>
			</div> 
			<div class="row">
				<div class="col s3 m3 push-m7">
					<a [routerLink]="['/empresas']" class="btn waves-effect waves-light red right" type="submit" name="action"> Cancelar</a>
					</div>
					<div class="col s3 m3 push-m6">
						<button class="btn waves-effect waves-light green right" type="submit" name="action" [disabled]="!formEmpresa.form.valid">Aceptar</button>
					</div>
				
			</div>
		</form>
			<br>
	</div>
	</div>
</main>

<style>
	  header, main, footer {
	     padding-left: 250px;
	}

	@media only screen and (max-width : 992px) {
	    header, main, footer {
	        padding-left: 0;
	    }
	 }  

	.container {
	    margin: 0 auto;
	    max-width: 1280px;
	    width: 90%;
	}

	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main {
	  flex: 1 0 auto;
	}
</style>
