
<barraNavegacion></barraNavegacion>
<br>
<br>
<br>
<br>
<br>
<main>

<div class="container">
  <div class="row">
    <div class="col m3 push-m1">
      <i class="material-icons blue-text md-48" style="font-size: 110px">store</i><br><br>
    </div>
    <div class="col m9">
      <h5 class="left">Agregue una empresa</h5>
          <p class="left light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit, vitae porro magni fuga neque, dolorem commodi!</p>
    </div>
  </div>

   <div class="row">
    <div class="col m3 push-m1">
      <i class="material-icons blue-text md-48" style="font-size: 110px">credit_card</i><br><br>
    </div>
    <div class="col m9">
      <h5 class="left">Añada una comisión</h5>
          <p class="left light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit, vitae porro magni fuga neque, dolorem commodi!</p>
    </div>
  </div>

   <div class="row">
    <div class="col m3 push-m1">
      <i class="material-icons blue-text md-48" style="font-size: 110px">assessment</i><br><br>
    </div>
    <div class="col m9">
      <h5 class="left">Administre la plataforma</h5>
          <p class="left light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit, vitae porro magni fuga neque, dolorem commodi!</p>
    </div>
  </div>

</div>
</main>

<style>
  header, main, footer {
     padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
</style>