<div class="row">
	<div class="col m8 s12 myCont">
		<div class="container">
			<br>
			<br>
			<br>
			<img src="./assets/LogoBuscaRepuestosAdmin.png" width="300px">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h4 class="white-text light">Plataforma para la <strong>administración</strong></h4>
			<p class="white-text light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo beatae placeat laboriosam dignissimos corrupti ut rem, iure, deserunt itaque numquam suscipit veniam nesciunt ea, sed at? Voluptas quibusdam ullam ratione.</p>
		</div>
	</div>

	<div class="col m4 s12 myClass">
		<div class="container">
			<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
			<h4 class="white-text light">Iniciar sesión</h4>
			<form #formLogin="ngForm" (ngSubmit)="login2()">

				<div class="row center">
					<div class="input-field col m12 s12">
		          		<input  [(ngModel)]="user.username" name="username" type="text" class="validate" required>
		          		<label>Usuario:</label>
		           		<!-- <span *ngIf="!nombre.valid && nombre.touched" class="red-text thin"> El nombre es obligatorio</span> -->
		        	</div>
				</div>

				<div class="row">
		        	<div class="input-field col m12 s12">
		          		<input  [(ngModel)]="user.password" name="password" type="password" class="validate" required>
		          		<label>Contraseña:</label>
		        	</div>
	        	</div>

				<button class="btn waves-effect waves-light white my" type="submit" name="action"> Login</button>
			</form>
			<p *ngIf="errMsg==true" class="white-text thin">{{advertencia}}</p>
				<br>
				<br>
				<br>
				<br>
		  </div>

		</div>
	</div>
</div>

<style>
	main{
   	 padding-left: 10px important!;
}
	.my{
		color: #01579b;;
	}

	.myClass{
		background-color: #01579b;
		padding-bottom: 160px;
	}
	.myCont{
		/*background-color: #01477D;*/
		background-color: #161C28;
		padding-bottom: 250px;
		padding-right: 100px;
	}

	/* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=text]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
</style>
