<barraNavegacion></barraNavegacion>
<main>

	<div class="container">
		<h5 class ="blue-text">Solicitudes <span class="red-text">Pendientes</span></h5>
			<div *ngIf="!listaSolicitudesPendientes">
			<h3 class="blue-text center">Cargando...</h3>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress light-blue">
				      <div class="indeterminate light-blue darken-2"></div>
				  </div>
		    	</div>
		    </div>
		</div>
	</div>
	
	<div class="container">
		<div class="card-panel" *ngIf="listaSolicitudesPendientes">
		<table>
			<thead>
				<th>ID</th>
				<th>Empresa</th>
				<th>Representante</th>
				<th>Correo</th>
				<th>Teléfono</th>
				<th class=center>Opciones</th>
			</thead>
			<tbody *ngFor= "let x of listaSolicitudesPendientes" >
				<td >{{x.id}}</td>
				<td >{{x.nombreEmpresa}}</td>
				<td >{{x.nombreRepresentante}}</td>
				<td >{{x.correo}}</td>
				<td >{{x.telefono}}</td>
				<td class="center">
					<a [routerLink]="['empresa-validacion', x.id]" class="waves-effect waves-light btn green lighten-2 myButton"><i class="material-icons white-text left">done</i>Validar</a>
					<a (click)="rechazarSolicitud(x.id, x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text left">close</i>Rechazar</a>
				</td>
			</tbody>
		</table>
		</div>
	</div>

<br>
<br>

		<div class="container">
			<h5 class ="blue-text">Solicitudes <span class="red-text">Rechazadas</span></h5>
		<div class="card-panel" *ngIf="listaSolicitudesRechazadas">
		<table>
			<thead>
				<th>ID</th>
				<th>Empresa</th>
				<th>Representante</th>
				<th>Correo</th>
				<th>Teléfono</th>
				<!-- <th>Estado</th> -->
				<th class=center>Opciones</th>
			</thead>
			<tbody *ngFor= "let x of listaSolicitudesRechazadas" >
				<td>{{x.id}}</td>
				<td>{{x.nombreEmpresa}}</td>
				<td>{{x.nombreRepresentante}}</td>
				<td>{{x.correo}}</td>
				<td>{{x.telefono}}</td>
				<td class="center">
					<a (click)="deleteSolicitud(x.id)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text left">delete</i>Eliminar</a>
				</td>
			<!-- 	<td *ngIf="x.productora== 2">Marvel</td>
				<td *ngIf="x.productora== 1">DC Comics</td> -->
			</tbody>
		</table>
		</div>
	</div>


</main>

<style>
  header, main, footer {
     padding-left: 250px;
	}

	@media only screen and (max-width : 992px) {
	    header, main, footer {
	        padding-left: 0;
	    }
	 }  

	.container {
	    margin: 0 auto;
	    max-width: 1280px;
	    width: 90%;
	}

	body {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}

	main {
	  flex: 1 0 auto;
	}
</style>

<style>
	.myButton{
		font-size: 14px;
		padding-left: 13px;
		padding-right: 13px;
	}
</style>